{% extends '../main/main.html' %}
{% block content %}
	{% if user.is_authenticated %}
	<div class="wrapper2 center_room mt-4">
		<div class="wrapper text-warning">
			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
                <div class="btn-group mb-4">
                    <a class="btn btn-sm btn-outline-primary " href="{{ request.META.HTTP_REFERER }}">Go Back</a>
					<button class="btn btn-sm btn-outline-primary" type='submit' name="act" value='Update'>Upload</button>
                </div>
				<div class="">
          <label for="id_image" title="click to upload image!">
            <img class="noteuploadimg" src="{{ note.image.url}}" alt="upload image">
          </label>
          {{ form.image }}
				</div>
			</form>
		</div>	
	</div>

	{% else %}

	<div class="center_position text-center">
        <div class="note">
            <div class="tem">
              <details><summary> </summary>
                <ul class="items">
                  <div class="butt">    
                    Need you to Login
                  </div>                                      
                </ul>
              
              </details>
        </div> 

    </div>

	{% endif %}

{% endblock content %}

