{% extends '../main/main.html' %}
{% block content %}
{% if user.is_authenticated %}
    <div class="wrapper2 set-center center_position">
        <h4 class="card-title text-center">dashboard </h4>
        <hr class="hrline">
        
        <div class="row">
            <div class="link column">
                <div class="card-row">
                    <a href="#" class="card-link ">
                        <p class="text-center">user</p>
                        <hr class="hrline">

                        <h1>
                            {{users }}

                        </h1>
                    </a>

                </div>

            </div>

            <div class="link column">
                <div class="card-row">
                    <a href="{% url 'allblog' %}" class="card-link ">
                        <p class="text-center">Blog</p>
                        <hr class="hrline">
                        <h1>
                            {{ blog }}
                        </h1>
                    </a>

                </div>

            </div>
            

            <div class="link column">
                <div class="card-row">
                    <a href="{% url 'homeevent' %}" class="card-link ">
                        <p class="text-center">Event</p>
                        <hr class="hrline">
                    </a>
                    <h1>
                        {{event}}
                    </h1>

                </div>

            </div>
            <div class="link column">
                <div class="card-row">
                    <a href="{% url 'home' %}" class="card-link">
                        <p class="text-center">Note</p>
                        <hr class="hrline">
                    </a>
                    <h1>
                        {{ note }}
                    </h1>

                </div>

            </div>
            <!-- <div class="link column">
                <div class="card-row">
                    <a href="{% url 'homeevent' %}" class="card-link ">
                        <p class="text-center">Gallery</p>
                        <hr class="hrline">
                    </a>
                    <h1>
                        {{event}}
                    </h1>

                </div>

            </div> -->
            

        </div>
    </div>
{% else %}
<button onclick="showModal('about')">About</button>
<div id="about" class="modal theme_border_color">
  <div><h2>About</h2></div>
  <p>
      Created in 2011, Hacker Typer arose from a simple desire to look like the
      stereotypical hacker in movies and pop culture. Since that time, it has brought
      smiles to millions of people across the globe. Plus, many of you have
      temporarily transformed into hackers yourselves, all from a few clicks on the
      keyboard (and some programming magic behind the scenes!).
  </p>
  <p>
      Also, if you are using Hacker Typer in any of your projects, videos or images,
      feel free to reach out! It s amazing to see what happens when people
      creativity interacts with this site.
  </p>
  <p>You can reach the developer here: <i>hackertyper@duiker101.net</i></p>
  <p>
      And please note: No, I will kindly not hack into anyone personal property, so
      please skip these requests. Thanks!
  </p>
  <p>
      You can find more info at
      <i><a target="_blank" href="https://duiker101.net">duiker101.net</a></i>
  </p>
  <div class="modal_footer">
      <a href="#" class="theme_color" onclick="hideOverlay()">Close</a>
  </div>
</div>

{% endif %} {% endblock content %}